:root {
  --mediumgrey: #737C79;
  --dark: #161C23;
  --darkbluegrey: #1E3649;
  --palegrey: #E7EBEC;
  --darkteal: #223F45;
  --yellowbrown: #AD880C;
}

* {
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Quattrocento', serif;
}

html {
    background-image: url("./max-williams-_OoK2W7OPRM-unsplash.jpg");
    color: var(--palegrey);
    overflow: hidden;
}

body {
    max-height: 100vh;
    position: relative;
    overflow: hidden;
}

.hide-on-mobile {
    display: none;
}

h1 {
    font-size: 30pt;
}

#main-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 1rem;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: x mandatory;
    position: relative;
}

.decorative-divider {
    width: 80%;
    height: 2px;
    border-radius: 80%;
    background-color: var(--palegrey);
    margin: auto;
}

.transparent-letter {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url(./max-williams-_OoK2W7OPRM-unsplash.jpg);
    font-size: 70pt;
    color: transparent;
}

#headshot {
    width: 300px;
    border: 3px solid var(--palegrey);
    border-radius: 50%;
}

.scroll-arrow {
    width: 4rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.section {
    height: 85vh;
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem 0;
    scroll-snap-align: center;
    position: relative;
}

h3 {
    text-align: right;
    margin: 2rem 0;
}

.intro {
    background-color: var(--darkbluegrey);
    text-align: center;
}

.services {
    background-color: var(--darkteal);
}

.experience {
    background-color: var(--darkbluegrey);
}

.education {
    background-color: var(--darkteal);
}

.community {
    background-color: var(--darkbluegrey);
}

.community > h2 {
    text-align: center;
}

.outro {
    background-color: var(--yellowbrown);
}

.outro > a {
    color: var(--darkteal);
    text-align: center;
    font-size: 16pt;
}

.social-container {
    display: flex;
    justify-content: center;
}

.social-icon {
    width: 4rem;
    margin: 0 2rem;
}

/* SETTINGS FOR DESKTOP SITE */

@media (min-width: 1000px) {

    html {
        background-image: none;
        overflow: initial;
    }

    body {
        all: initial;
        color: var(--palegrey);
        background: linear-gradient(140deg, var(--mediumgrey), var(--darkbluegrey) 15%, var(--dark) 25%);
    }

    .hide-on-mobile {
        display: initial;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        object-fit: cover;
        border: 2px solid var(--palegrey);
        background-size: cover;
        position: relative;
    }

    #main-container {
        width: 80%;
        height: 100%;
        margin: 2rem auto;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        scroll-snap-type: none;
    }

    .section {
        width: initial;
        height: initial;
        margin: 0;
        border: 2px solid var(--palegrey);
    }

    .transparent-letter {
        color: var(--palegrey)
    }

    .intro {
        background-color: var(--darkbluegrey);
        text-align: center;
        grid-area: 1 / 1 / 1 / 3;
    }
    
    .services {
        background-color: var(--darkteal);
        grid-area: 3 / 1 / 3 / 1;
    }
    
    .experience {
        background-color: var(--darkbluegrey);
        grid-area: 2 / 2 / 2 / 4;
    }
    
    .education {
        background-color: var(--darkteal);
        grid-area: 3 / 3 / 3 / 4;
    }
    
    .community {
        background-color: var(--darkbluegrey);
        grid-area: 4 / 1 / 4 / 1;
    }
    
    .community > h2 {
        text-align: center;
    }
    
    .outro {
        background-color: var(--yellowbrown);
        grid-area: 1 / 3 / 1 / 4;
    }

    .scroll-arrow {
        display: none;
    }

    .imgOne {
        grid-area: 3 / 2 / 3 / 3;
        background-image: url(./IMG_0427.jpg);
    }

    .imgTwo {
        grid-area: 4 / 2 / 4 / 4;
        background-image: url(./IMG_0502.jpg);
    }

    .imgFour {
        background-image: url(./IMG_1216.JPG);
        grid-area: 2 / 1 / 2 / 1;
        background-position: -28rem;
    }

    .imgCaption {
        position: absolute;
        bottom: 3rem;
        left: 0;
        width: 80%;
        height: 2rem;
        margin: 0;
        padding: 5px 2px;
        background: linear-gradient(90deg, #161c23c9 20%,  #161c2381 80%, transparent 95%);
        color: var(--palegrey);
        display: flex;
        align-items: center;
        padding-left: 1rem;
    }

    .byline {
        display: flex;
        align-items: center;
        width: 100%;
        height: 2rem;
        background-color: var(--mediumgrey);
    }

    h5 {
        margin: 0;
        margin-left: 1rem;
        color: var(--dark);
    }

}