:root {
  --mediumgrey: #737C79;
  --dark: #161C23;
  --darkbluegrey: #1E3649;
  --palegrey: #E7EBEC;
  --darkteal: #223F45;
  --yellowbrown: #AD880C;
}

* {
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Quattrocento', serif;
}

html {
    background-image: url("./max-williams-_OoK2W7OPRM-unsplash.jpg");
    color: var(--palegrey);
    overflow: hidden;
}

body {
    max-height: 100vh;
    position: relative;
    overflow: hidden;
}

h1 {
    font-size: 30pt;
}

#main-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 1rem;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: x mandatory;
    position: relative;
}

.decorative-divider {
    width: 80%;
    height: 2px;
    border-radius: 80%;
    background-color: var(--palegrey);
    margin: auto;
}

.transparent-letter {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url(./max-williams-_OoK2W7OPRM-unsplash.jpg);
    font-size: 70pt;
    color: transparent;
}

#headshot {
    width: 300px;
    border: 3px solid var(--palegrey);
    border-radius: 50%;
}

.scroll-arrow {
    width: 4rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.section {
    height: 85vh;;
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem 0;
    scroll-snap-align: center;
    position: relative;
}

h3 {
    text-align: right;
    margin: 2rem 0;
}

.intro {
    background-color: var(--darkbluegrey);
    text-align: center;
}

.services {
    background-color: var(--darkteal);
}

.experience {
    background-color: var(--darkbluegrey);
}

.education {
    background-color: var(--darkteal);
}

.community {
    background-color: var(--darkbluegrey);
}

.community > h2 {
    text-align: center;
}

.outro {
    background-color: var(--yellowbrown);
}

.outro > a {
    color: var(--darkteal);
    text-align: center;
    font-size: 16pt;
}

.social-container {
    display: flex;
    justify-content: center;
}

.social-icon {
    width: 4rem;
    margin: 0 2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 20%;
}

button {
    margin: 1rem 0;
    width: 5rem;
    height: 3rem;
    background-color: var(--darkteal);
    border: 2px solid var(--mediumgrey);
    color: var(--palegrey);
    border-radius: 10px;
}

form > input {
    width: 90%;
    height: 2rem;

}